export("indiv_sample_from_trm_pre"
     , "population_sample_from_trm"
     , "all_methods_2_trans_mat"
     , "do_DBN", "do_HESBCN", "do_MHN2"
     , "process_samples", "sample_all_CPMs"
     , "cpm2tm"
     , "generate_sorted_genotypes"
     , "plot_sampled_genots", "inner_transitionRate_3_1"
     , "theta_to_trans_rate_3_SM"
     , "plot_genot_fg", "plot_DAG_fg", "runShiny"
     , "process_data"
     )

importFrom("grDevices", "rgb")
importFrom("graphics", "axis", "legend", "lines", "par")
importFrom("stats", "aggregate", "chisq.test", "decompose", "na.omit", "rexp",
           "runif", "rnorm", "optim")
importFrom("utils", "capture.output", "read.csv", "read.table", "type.convert",
           "write.csv")
importFrom("Matrix", "diag", "rowSums", "colSums", "summary")
importFrom("OncoSimulR", "sampledGenotypes", "evalAllGenotypes", "allFitnessEffects")
importFrom("stringr", "str_count", "str_replace", "str_split", "str_replace_all")
importFrom("parallel", "detectCores", "mclapply")
importFrom("OncoBN", "fitCPN", "inferTheta")
# importFrom("relations", "as.relation")
# importFrom("nem", "trna")
# importFrom("foreach", "registerDoSEQ")

import(Oncotree)    
import(igraph)
import(plot.matrix)
import(codetools)
import(foreach)
import(gtools)
import(pryr)
import(readr)
import(dplyr)
import(Rgraphviz)
import(data.table)
import(mccbn)
import(DT)
import(shinyjs)