useDynLib(evamtools, .registration = TRUE)

export(
    "sample_all_CPMs"
    ##    , "all_methods_2_trans_mat"
    , "evam"
     , "plot_CPMs"
     , "runShiny"
     )

importFrom("shiny", "runApp", "Progress")
importFrom("shinyjs", "useShinyjs", "enable", "disable", "disabled")
importFrom("grDevices", "rgb")
importFrom("graphics", "axis", "legend", "lines", "par", "title")
importFrom("utils", "capture.output", "read.csv", "read.table", "type.convert",
           "write.csv")
importFrom("Matrix", "diag", "rowSums", "colSums", "summary", "Matrix",
           "sparseMatrix", "bandSparse", "t")
importFrom("OncoSimulR", "sampledGenotypes", "evalAllGenotypes",
           "allFitnessEffects")
importFrom("stringr", "str_count", "str_replace", "str_split",
           "str_replace_all")
importFrom("parallel", "detectCores", "mclapply")
importFrom("shinyjs", "enable", "disable")
importFrom("DT", "renderDT", "DTOutput", "editData")
importFrom("Oncotree", "oncotree.fit", "marginal.distr",
           "distribution.oncotree", "bootstrap.oncotree")    
importFrom("gtools", "combinations")
importFrom("igraph", "V", "E", "graph.data.frame", "layout.reingold.tilford"
         , "get.adjacency", "all_simple_paths", "decompose", "is_dag", "distances"
         , "subcomponent", "adjacent_vertices", "graph_from_adjacency_matrix"
         , "graph_from_data_frame", "head_of", "as_adjacency_matrix",
           "make_directed_graph", "incident", "ends", "as_data_frame")
importFrom("stats", "aggregate", "chisq.test", "na.omit", "rexp",
           "runif", "rnorm", "optim")
## just something, so plot.matrix is available
## See https://stackoverflow.com/a/59667634
importFrom("plot.matrix", "fmt")

## Because mccbn has a Depends, instead of proper imports.
## ## But does not work either
## importFrom("relations",
##            "as.relation", "transitive_reduction",
##            "relation_incidence")
## importFrom("OncoBN", "fitCPN")
