
export("indiv_sample_from_trm_pre", "population_sample_from_trm",
    "process_samples", "sample_all_CPMs", "do_DBN", "do_HESBCN", "import.hesbcn",
    "cpm2tm", "all_methods_2_trans_mat", "plot_sampled_genots",
    "plot_genot_fg", "plot_DAG_fg", "do_MHN2", "runShiny", "process_data", "guloMAM_pipeline")

importFrom("grDevices", "rgb")
importFrom("graphics", "axis", "legend", "lines", "par")
importFrom("stats", "aggregate", "chisq.test", "decompose", "na.omit", "rexp", "runif", "rnorm", "optim")
importFrom("utils", "capture.output", "read.csv", "read.table", "type.convert", "write.csv")
importFrom("Matrix", "diag", "rowSums", "colSums", "summary")
importFrom("OncoSimulR", "sampledGenotypes")
importFrom("stringr", "str_count")
importFrom("parallel", "detectCores", "mclapply")
